<nav>
    <ul>
        <li><a href routerLink='/'>Accueil</a></li>
        <li><a href routerLink='/jour'>Il fait jour</a></li>
        <li><a href routerLink='/nuit'>Il fait nuit</a></li>
        <li><a href routerLink='/deluge'>C'est le déluge</a></li>
        <li><a href routerLink='/contact'>Contact</a></li>
        <li><a href routerLink='/Ajouter'>Ajouter Un Gremlins</a></li>
        <li *ngIf="authServ.profil.statut > 0"><a href routerLink='/admin'>Admin</a></li>
        <li *ngIf="!authServ.profil.statut"><a href routerLink='/connexion'>Connexion</a></li>
        <li *ngIf="authServ.profil.statut > 0"><a href routerLink='/connexion'
                (click)="authServ.deconnexion()">Déconnexion</a>
        </li>


    </ul>
</nav>